<section data-ng-controller="HomeController">
	<div class="aboutImage col-md-12">
		<h2 class="aboutHead col-md-8 col-md-offset-2">Appreciate God's work through any ministry. For everyone on the planet.</h2>
		<p class="col-md-8 col-md-offset-2 aboutText">We're a small team in Nigeria </p>
		<p class="col-md-8 col-md-offset-2 aboutText"> bringing the kingdom of God to every person on the planet.</p>
	</div>
	<div class="aboutBox col-md-12">
		<h3>Get to know us</h3>
		<h5 style="color:#4b5c66; font-size: 11px;"> THE TEAM</h5>
	
		<div class="teamPixBox col-md-3 col-md-offset-1">
			<img class="teamPix" src="/modules/core/img/team pix/claude.jpg">
			<p class="teamMember">Claude Claudius Enegesi<span>, Director of Partnerships</span></p>	
		</div>
		<div class="teamPixBox col-md-3 col-md-offset-1">
			<img class="teamPix" src="/modules/core/img/team pix/hauwa.jpg">
			<p class="teamMember">Hauwa Garba<span>, Director of Finance</span></p>
		</div>
		<div class="teamPixBox col-md-3 col-md-offset-1">
			<img class="teamPix" src="/modules/core/img/team pix/bosom.jpg">
			<p class="teamMember">Bosom Igere<span>, Director of Marketing and Outreach</span></p>
		</div>
		<div class="teamPixBox col-md-3 col-md-offset-1">
			<img class="teamPix" src="/modules/core/img/team pix/doreen.jpg">
			<p class="teamMember">Doreen Idemudia<span>, Patsi Evangelist</span></p>
		</div>
		<div class="teamPixBox col-md-3 col-md-offset-1">
			<img class="teamPix" src="/modules/core/img/team pix/nanie.jpg">
			<p class="teamMember">Nanie Enegesi<span>, Head of Advertising, Lagos</span></p>
		</div>
		<div class="teamPixBox col-md-3 col-md-offset-1">
			<img class="teamPix" src="/modules/core/img/team pix/nad.jpg">
			<p class="teamMember">The Nad<span>, Nerd</span></p>
		</div>
	</div>
	<div class="aboutBox1 col-md-12">
		<h3 class="col-md-8 col-md-offset-2">Our Story</h3>
		<p class="col-md-8 col-md-offset-2 ourStory">The team developed Patsi to bring the kingdom of God</p>
		<p class="col-md-8 col-md-offset-2 ourStory">closer to us. The project was designed to replicate</p>
		<p class="col-md-8 col-md-offset-2 ourStory">the practice of giving but through an effective medium</p>
	</div>
	<div class="aboutBox2 col-md-12">
		<h3 class="aboutBox2Header">What we are built on</h3>
		<div class="aboutBox2List col-md-12">
			<div class="col-md-3">
				<h4>Impact</h4>
				<p >We partner with financial organizations to assist in fund raising and ministry appreciation.</p>
			</div>
			<div class="col-md-3">
				<h4>Determination</h4>
				<p>We strive on finishing what we start and doing the best we can</p>
			</div>
			<div class="col-md-3">
				<h4>Efficiency</h4>
				<p>We keep our team small and our overhead low so we can move fast and innovate.</p>			
			</div>
		</div>
	</div>
</section>
