<section data-ng-controller="HomeController">
<div class="aboutImage">
	<h2 class="aboutHead">Healthcare for everyone on the planet</h2>
	<p>We're a small team in Nigeria turning passion, ramen, and code</p>
	<p> into a movement to provide healthcare to every person on the planet.</p>
</div>
<div class="aboutBox col-md-12">
	<h3>Get to know us</h3>
	<h5>TEAM</h5>

	<a href="http://betkom.github.io/MyPortfolio">
	<div class="teamPixBox col-md-3 col-md-offset-1">
		<img class="teamPix" src="/modules/core/img/team pix/Tolu.jpg">
		<p>Tolulope Komolafe, <span>Team Lead</span></p>	
	</div>
	</a>	
	<a href="http://kehindeoni.github.io/Portfolio">
	<div class="teamPixBox col-md-3 col-md-offset-1">
		<img class="teamPix" src="/modules/core/img/team pix/kenny.jpg">
		<p>Kehinde Oni, <span>Secretary</span></p>
	</div>
	</a>
	<a href="http://shittu.github.io/kehesjay">
	<div class="teamPixBox col-md-3 col-md-offset-1">
		<img class="teamPix" src="/modules/core/img/team pix/shittu.jpg">
		<p>Kehinde Shittu, <span>Team Member</span></p>
	</div>
	</a>
	<a href="http://tekrondo.github.io/TMDB-API">
	<div class="teamPixBox col-md-3 col-md-offset-1">
		<img class="teamPix" src="/modules/core/img/team pix/terwase.jpg">
		<p>Terwase Gberikon, <span>Team Member</span></p>
	</div>
	</a>
	<a href="callmesurge.github.io/Portfolio">
	<div class="teamPixBox col-md-3 col-md-offset-1">
		<img class="teamPix" src="/modules/core/img/team pix/jide.jpg">
		<p>Bello Babajide, <span>Team Member</span></p>
	</div>
	</a>
</div>
<div class="aboutBox1 col-md-12">
	<h3>Our Story</h3>
	<p>The team developed Matsi as part of the project</p>
	<p>assignment in Andela. The project was designed to replicate</p>
	<p>the functionality of watsi.org</p>
</div>
<div class="aboutBox2 col-md-12">
	<h3>What we are built on?</h3>
	<div class="aboutBox2List col-md-12">
		<div class="col-md-4">
			<h4>Impact</h4>
			<p>We partner with renowned health organizations to fund low-cost, high-impact care.</p>
		</div>
		<div class="col-md-4">
			<h4>Determination</h4>
			<p>We strive on finishing what we start and doing the best we can</p>
		</div>
		<div class="col-md-4">
			<h4>Efficiency</h4>
			<p>We keep our team small and our overhead low so we can move fast and innovate.</p>			
		</div>
	</div>
</div>
</section>