<section data-ng-controller="HomeController">
	<section class="homeContent1 col-md-12">
		<h2 class="fundWhiteBack col-md-10 col-md-offset-1">Fund healthcare for people around the world.</h2>
		<p class="fundWhite1 col-md-8 col-md-offset-2" data-ng-controller="PatientsController" data-ng-init="homePageDatas()"><span>{{donorCount}}</span> People have funded healthcare for <span>{{patientCount}}</span> patients in <span>{{countryCount}}</span> countries</p>
		<a href="/#!/patients" class="fundWhite2 button col-md-3 col-md-offset-5">VIEW PATIENTS</a>	
	</section>
	<div class="homeContent2 col-md-12" data-ng-controller="PatientsController" data-ng-init="find()"> 
		<h2>Meet the Patients</h2>
		<h4>100% of your donation funds life-changing healthcare</h4>
		<div class="col-md-12" data-ng-init="homePageDatas()">
			 <a data-ng-repeat="patient in patients |limitTo: 3" data-ng-href="#!/patients/{{patient._id}}" class="list-group-item patients">
                <div class="patient col-md-4">
                    <div class="patientimg">
                        <img ng-src="{{patient.image}}">
                    </div>
                    <div class="patientstory">
                       <p class="ellipsis">
                            {{ellipsis(patient.story, 100)}}
                            <span class="link">Read More&nbsp;»</span>
                        </p>
                    </div>
                    <div class="col-md-4 progressbar">
                        <progressbar class="progress-striped active" ng-class="{donateComplete:patient.amountCollected>=patient.amountNeeded}" value="getFundsPerc(patient.amountCollected, patient.amountNeeded)" type="{{warning}}">
                        </progressbar>
                    </div>
                    <div class="funds">
                        <div class="fundsraised">
                            <p>{{patient.amountCollected || 0 | myCurrency }} raised</p>
                        </div>
                        <div class="fundsleft">
                            <p>{{patient.amountNeeded - patient.amountCollected | myCurrency }} to go</p>
                        </div>
                    </div>
                </div>
            </a>
		</div>	
	</div>
	<div class="homeContent3 col-md-12">
		<h2>How Matsi Works</h2>
		<div class="col-md-12">
			<div class="col-md-4">
				<img ng-src="/modules/core/img/loaders/amount.png">
				<p class="firstLine">Meet a patient</p>
				<p>Meet a patient who needs life-changing healthcare</p>
			</div>
			<div class="col-md-4">
				<img ng-src="/modules/core/img/loaders/credit2.png">
				<p class="firstLine">Donate to fund their care</p>
				<p>Donate as little as $5 to fund their healthcare.</p>
			</div>
			<div class="col-md-4">
				<img ng-src="/modules/core/img/loaders/document.png">
				<p class="firstLine">Get an update</p>
				<p>Get an update after they receive healthcare.</p>
			</div>
		</div>
	</div>
</section>
