<section data-ng-controller="HomeController">
	<div class="homeContent1">
		<h2 class="fundWhiteBack">Fund healthcare for people around the world.</h2>
		<p class="fundWhite1"><span></span>People have funded healthcare for <span></span> patients in <span></span> countries</p>
		<a href="/#!/patients" class="fundWhite2 button">VIEW PATIENTS</a>
	</div>
	<div class="homeContent2"> 
		<h2>Meet the Patients</h2>
		<h4>100% of your donation funds life-changing healthcare</h4>
		<div class="col-md-12">
			<div  class="homePatients1 col-md-4">Pictures</div>
			<div class="homePatients1 col-md-4">Pictures</div>
			<div class="homePatients1 col-md-4">Pictures</div>
		</div>	
	</div>
	<div class="homeContent3 col-md-12">
		<h2>How Matsi Works</h2>
		<div class="col-md-12">
			<div class="col-md-4">
				<img ng-src="/modules/core/img/loaders/amount.png">
				<p class="firstLine">Meet a patient</p>
				<p>Meet a patient who needs life-changing healthcare</p>
			</div>
			<div class="col-md-4">
				<img ng-src="/modules/core/img/loaders/credit2.png">
				<p class="firstLine">Donate to fund their care</p>
				<p>Donate as little as $5 to fund their healthcare.</p>
			</div>
			<div class="col-md-4">
				<img ng-src="/modules/core/img/loaders/document.png">
				<p class="firstLine">Get an update</p>
				<p>Get an update after they receive healthcare.</p>
			</div>
				<a class="linkHow" href="">See the expanded version »</a>
		</div>
	</div>
</section>
