<section class="row pushFooter" data-ng-controller="AuthenticationController">
<div class="" data-ng-if ="authentication.user.userRoles==='admin'">
	<div class="col-xs-offset-2 col-xs-8 col-md-8">
		<form name="userForm" data-ng-submit="signup()" class="signin form-horizontal" novalidate autocomplete="off">
			<fieldset>
				<div class="form-group col-sm-12">
					<div class="input-group ">
						<span class="input-group-addon">
						<i class="text-muted glyphicon glyphicon-user"></i>
						</span>
						<input type="text" required id="fullName" name="fullName" class="form-control" data-ng-model="credentials.fullName" placeholder="Full Name">
					</div>
				</div>
				<div class="form-group col-sm-12">
					<div class="input-group ">
						<span class="input-group-addon">@</span>
						<input type="email" id="email" name="email" class="form-control" data-ng-model="credentials.email" placeholder="Email">
					</div>
				</div>
				<div class="form-group col-sm-12">
					<div class="input-group ">
						<span class="input-group-addon">
						<i class="text-muted glyphicon glyphicon-user"></i>
						</span>
						<input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Username">
					</div>
				</div>
				<div class="form-group col-sm-12">
					<div class="form-group col-sm-6">
						<div class="input-group ">
							<span class="input-group-addon">
							<i class="text-muted glyphicon glyphicon-asterisk"></i>
							</span>
							<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">
						</div>
					</div>


					<div class="form-group col-sm-6" style="margin-left: 45px;">
						<div class="input-group ">
							<span class="input-group-addon">
							<i class="text-muted glyphicon glyphicon-asterisk"></i>
							</span>
							<input type="password" id="confirmPassword" name="confirmPassword" class="form-control" data-ng-model="credentials.confirmPassword" placeholder="Confirm Password" ng-keyup="checkpass()"
							>
						</div>
					</div>
				</div>
				<span ng-show="passMatch" class="btn btn-danger">Password does not match</span>
				<div class="text-center form-group">
					<button type="submit" class="btn btn-large btn-primary" ng-disabled="passMatch2">Sign up</button>&nbsp; or&nbsp;
					<a href="/#!/signin" class="show-signup">Sign in</a>
				</div>
				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</div>
<div class="alert alert-warning text-center"data-ng-if ="authentication.user.userRoles === 'user'|| !authentication.user">
        This Page is available to Administrators only, Please <a href="/#!/signin">signin</a> with Admin Account 
  </div>
</section>
