header.matsiNav.ng-scope{
	background: transparent;
	z-index: 50;
	margin-left: 100px;
	margin-right: 100px;
	position: relative;
}

.navbar-nav > li > a{
	color: #4b5c66;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty{
    border-color:#FA787E;
}
.ng-valid.ng-dirty{
    border-color:#78FA89;
}
.fundWhiteBack{
	background: #fff;
	padding: 30px 50px;
}
p.fundWhite1{
	margin-top: 30px;
	margin-bottom: 90px;
}
.fundWhite1{
	color: #4b5c66;
}
.fundWhite2{
	background-color: #00b2d8;
	padding: 15px 40px;
	margin-top: 30px;
	color: #fff;
}
.matsiNav li a:hover, .navbar-brand a{
	background-color: transparent;
	border-bottom: 3px solid #606060;
	padding-bottom: 2px;
}
.homeContent1, .homeContent2, .homeContent3, .contactBox, .contactBox1{
	text-align: center;
}


.homeContent1{
	width: 100%;
	padding: 180px 100px 100px;
	background: url('/modules/core/img/loaders/bkgd2.jpg') no-repeat center center;
	background-size: cover;
	position: relative;
	top:-55px;
	right: 0;
	left:0;

}
.homeContent2{
	padding-top: 40px;
}
.homeContent3 h2{
	margin-bottom: 50px;
}
.homeContent1 h2, .homeContent p, .homeContent2 h2, .homeContent2 h4, .homeContent3{	
	color: #4b5c66;
}
.fundWhite2:hover{
	color: #fff;
}
.homeContent2 h2{
	font-size: 36px;
}
.homeContent3{
	background: #fcd15c;
	padding: 70px 40px 50px;
}
.firstLine{
	font-weight: bold;
}
a:hover{
	text-decoration: none;
}
.homePatients1{
	border: solid 1px gray;
	padding: 50px;
}

/*********************
	ABOUT PAGE
*********************/
.aboutImage{
	background: url('/modules/core/img/loaders/bkgd1.jpg') no-repeat center center;
	background-size: cover;
	text-align: center;
	padding-top: 200px;
	padding-bottom: 200px;
	position: relative;
	top:-55px;
	right: 0;
	left:0;
	z-index: -1;
}
.aboutBox, .aboutBox1, .aboutBox2{
	text-align: center;
}
.aboutHead{
	background: #fff;
	padding: 20px 20px;
}
.teamPix{
	width: 150px;
	height: 150px;
}
.teamPixBox{
	margin-bottom: 20px;
}
.teamPixBox span{
	color: #4b5c66;
}
.aboutBox h3, .aboutBox1 h3{
	margin-bottom: 42px;
	margin-top: 60px;
	color: #4b5c66;
	height: 78px
}
.aboutBox h5{
	margin-bottom: 50px;
}
.aboutBox{
	padding-top: 20px;
	padding-bottom: 20px;
}
.aboutBox1{
	background: #f4f7f8;
	color: #4b5c66;
	padding-top: 15px;
	padding-bottom: 25px;
}
.aboutBox2{
	color: #4b5c66;
	background: #fcd15c;
	padding: 70px 40px 50px;
}
/******************
	CONTACT PAGE
*******************/
.contactBox{
	background: url('/modules/core/img/loaders/bkgd3.jpg') no-repeat center center;
	background-size: cover;
	text-align: center;
	padding-top: 200px;
	padding-bottom: 250px;
	color: #4b5c66;
	position: relative;
	top:-55px;
	right: 0;
	left:0;
	z-index: -1;

}
.contactWrapper{
	position: relative;
}
.contact-info li{
	list-style: none;
}
.contactBox1{
	padding-top: 60px;
	padding-bottom: 80px;
}
/*******************
		FOOTER
*******************/
.footerNav {
list-style: none;
}
.footerNavDiv{
	padding: 30px 80px;
	background: #424242;
}
.footerNav li{
display: inline;
margin-right: 20px;
margin-left: 20px;	
}
.footerNav li  a{
	color: #fff;
}
.footerContainer{
	color: #ebebeb;
}
.container{
	width: 100%;
	margin-left: 0;
	margin-right: 0;
}

/******************************
		MEDIA QUERIES
*******************************/
.pushFooter2{
	min-height: 60rem;
	min-width: 350px;
	padding-top: 100px;
}
.pushFooter3{
	margin-top: -39.8px;
	background: #fcd15c;
	min-height: 60rem;
	min-width: 350px;
}
