.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty{
    border-color:#FA787E;
}
.ng-valid.ng-dirty{
    border-color:#78FA89;
}
.fundWhiteBack{
	background: #fff;
	padding: 30px 50px;
}
.container{
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
}
p.fundWhite1{
	margin-top: 30px;
	margin-bottom: 90px;
}
.fundWhite1, .fundWhite2{
	color: #ebebeb;
}
.fundWhite2{
	background-color: #00b2d8;
	padding: 15px 40px;
	margin-top: 90px;
}
.matsiNav li a:hover, .navbar-brand a{
	background-color: #fff;
	border-bottom: 1.5px solid #428bca;
	padding-bottom: 2px;
}
.homeContent1, .homeContent2, .homeContent3{
	text-align: center;
}
a.fundWhite2.cta.button.blue:hover{
	color: #fff;
}
.homeContent1{
	width: 100%;
	padding: 200px 200px;
	background: url('/modules/core/img/loaders/matsi9.jpg') no-repeat center center;
	background-size: cover;
}
.homeContent2{
	padding-top: 40px;
}
.homeContent3 h2{
	margin-bottom: 50px;
}
.homeContent1 h2, .homeContent p, .homeContent2 h2, .homeContent2 h4, .homeContent3{	
	color: #4b5c66;
}
.homeContent2 h2{
	font-size: 36px;
}
.homeContent3{
	background: #fcd15c;
	padding-top: 70px;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 50px;
}
.firstLine{
	font-weight: bold;
}
a:hover{
	text-decoration: none;
}
.homePatients1{
	border: solid 1px gray;
	padding: 50px;
}

/*********************
	ABOUT PAGE
*********************/
.aboutImage{
	background: url('/modules/core/img/loaders/matsi10.jpg') no-repeat center center;
	background-size: cover;
	text-align: center;
	padding: 200px 200px;
}
.aboutBox, .aboutBox1, .aboutBox2{
	text-align: center;
}
.aboutHead{
	background: #fff;
	padding: 30px 50px;
}
.teamPix{
	width: 150px;
	height: 150px;
}
.teamPixBox{
	margin-bottom: 20px;
}
.teamPixBox span{
	color: #424242;
}
.aboutBox h3, .aboutBox1 h3{
	margin-bottom: 30px;
}
.aboutBox h5{
	margin-bottom: 50px;
}
.aboutBox{
	padding-top: 20px;
	padding-bottom: 20px;
}
.aboutBox1{
	padding: 60px 150px;
}
.aboutBox2{
	background: #fcd15c;
	padding-top: 70px;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 50px;
}

/*******************
		FOOTER
*******************/
.footerNav {
list-style: none;
}
.footerNavDiv{
	padding-left: 80px;
	padding-right: 80px;
	padding-top: 30px;
	padding-bottom: 30px;
}
.footerNav li{
display: inline;
margin-right: 20px;
margin-left: 20px;	
}
.footerContainer{
	background: #424242;
	color: #ebebeb;
}