<section data-ng-controller="PatientsController" data-ng-init="find()" class="pushFooter2">
    <div class="contain">
        <h1 class="listHeader" data-ng-show="!patients.$resolved || patients.length">You are viewing all Patients</h1>
        <div class="list-group-patient col-md-12">
            <a data-ng-repeat="patient in patients" data-ng-href="#!/patients/{{patient._id}}" class="list-group-item patients">
                <div class="patient col-md-4">
                    <div class="patientimg">
                        <img ng-src="{{patient.image}}">
                    </div>
                    <div class="patientstory">
                        <p class="ellipsis">
                            {{ellipsis(patient.story, 100)}}
                            <span class="link">Read More&nbsp;»</span>
                        </p>
                    </div>
                    <div class="col-md-4 progressbar">
                        <progressbar class="progress-striped active" value="fundsPercentage(patient.amountcollected, patient.amountNeeded)" type="{{warning}}">
                        </progressbar>
                    </div>
                    <div class="funds">
                        <div class="fundsraised">
                            <p>{{patient.amountcollected || 0 | myCurrency }} raised</p>
                        </div>
                        <div class="fundsleft">
                            <p>{{patient.amountNeeded - patient.amountcollected | myCurrency }} to go</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="morepat col-md-12" data-ng-show="!patients.$resolved || patients.length">
            <a href="#" class="morepatients">view more patients</a>
        </div>
    </div>
    <div class="alert alert-warning text-center col-md-12" data-ng-hide="!patients.$resolved || patients.length" data-ng-if ="authentication.user.userRoles === 'admin'">
    	No Patients yet, why don't you <a href="/#!/patients/create">create one</a>
    </div>
    <div class="alert alert-warning text-center col-md-12" data-ng-hide="!patients.$resolved || patients.length" data-ng-if ="authentication.user.userRoles === 'user'">
        No Patients yet
    </div>
</section>
